.mainAdminContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sectionButtonsContainer {
    min-height: 12rem;
    width: 10%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* border: 1px solid black; */
}

.sectionContentContainer {
    min-height: max-content;
    width: 90%;
    /* border: 1px solid black; */
}