.container {
  background-color: rgba(243, 242, 242, 0.993);
  /* margin-left: 1rem;
  margin-right: 1rem; */
  margin-bottom: 3rem;
  height: 23.5rem;
  width: 14rem;
  overflow: hidden;
  color: black;
  align-items: center;
  font-family: Koulen;
  margin-left: 1rem;
}

.container:hover {
  transform: translateY(-2px);
  box-shadow: 0px 0px 10px rgba(69, 167, 212, 0.829);
}

.h2 {
  margin-top: 0.2rem;
  margin-left: 0.2rem;
  font-size: 0.9rem;
}

.img {
  height: 14rem;
  width: 14rem;
  margin-bottom: 0rem;
  background-color: white;
  /* border: 0.05rem solid rgba(240, 240, 240, 0.993); */
}

.price {
  margin-top: 0.5rem;
  margin-left: 0.2rem;
  text-decoration: none;
  font-size: 1rem;
  margin-bottom: 0.01rem;
  font-family: Koulen;
}

.rating {
  margin-left: 0.2rem;
  height: 5rem;
  width: auto;
  margin-top: -0.5rem;
}

.bfav {
  border-radius: 0.2rem;
  border: 0.1rem solid rgb(190, 190, 190);
  cursor: pointer;
  position: left;
  margin-right: 0.5rem;
  margin-top: 1rem;
}

.bfav:hover {
  background-color: rgb(75, 74, 74);
  color: white;
}

.starsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.divStarsAvg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.2rem;
}

.pStars {
  margin: 0 0 0 0.3rem;
  font-size: 0.9rem;
}

.starAvg {
  width: 1rem;
  margin: 0 0.1rem 0 0.1rem;
}
