.containercart {
  background-color: rgba(223, 221, 221, 0.993);
  height: 11rem;
  width: 38rem;
  color: black;
  align-items: center;
  font-family: Koulen;
  padding: 1rem;
  margin: 1rem 1rem 1rem 1rem;
}

.container:hover {
  transform: translateY(-2px);
  box-shadow: 0px 0px 10px rgba(69, 167, 212, 0.829);
}

.icontainer {
  display: flex;
}

.h2 {
  margin-top: 0.2rem;
  margin-left: 0.2rem;
  font-size: 1.5rem;
}

.img {
  float: left;
  height: 10.8rem;
  width: 10.8rem;
  margin-right: 1rem;
  background-color: white;
  border: 0.05rem solid rgba(240, 240, 240, 0.993);
}

.price {
  margin-top: 1.5rem;
  margin-left: 0.2rem;
  text-decoration: none;
  font-size: 1.3rem;
  margin-bottom: 0.01rem;
  font-family: Koulen;
}

/* .rating {
  margin-left: 0.2rem;
  height: 5rem;
  width: auto;
} */

.bfav {
  border-radius: 0.2rem;
  border: 0.1rem solid rgb(190, 190, 190);
  cursor: pointer;
  position: left;
  margin-left: 14rem;
  margin-top: -0.5rem;
}

.bfav:hover {
  background-color: rgb(75, 74, 74);
  color: white;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: .5rem;
  background-color: white;
  height: 1.4rem;
  font-family: Cabin;
}

.quantity {
  width: 3rem;
  justify-content: center;
  text-align: center;
  font-size: 0.8rem;
}

.bquantity {
  height: 1.5rem;
  border: 0.1rem solid rgb(190, 190, 190);
}

.starsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: .6rem;
}

.divStarsAvg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pStars {
  margin: 0 0 0 0 ;
  font-size: .9rem;
}

.starAvg {
  width: 1rem;
  margin: 0 0.1rem 0 0.1rem;
}