.mainContainer {
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 90%;
    /* border: 1px solid black; */
    margin: 1rem auto;
}

.title {
    text-align: center;
}

.cardsContainer {
    display: flex;
    flex-direction: row;
    margin-right: 1rem;

}

.divTotal {
    display: flex;
    padding: 0 1rem;
    margin: .5rem 0;
    background-color:rgb(23, 74, 105);
    border-radius: 0.3rem;
}

.total {
    text-decoration: none;
    font-size: 2rem;
    font-family: Koulen;
    color: rgb(255, 255, 255);
    font-weight: 100;
    margin: 1.5rem auto;
}


.contShopBtn {
    /* border: 1px solid black; */
    border-radius: 0.5rem;
    height: 3rem;
    width: 10rem;
    margin: 2rem auto;
    font-size: large;
}

.danger {
    background-color: rgb(224, 40, 40);
    border: 2px solid rgb(199, 1, 1);
    color: white;
}

.medium {
    background-color: rgb(114, 114, 114);
    border: 2px solid rgb(70, 70, 70);
    color: white;
}

#imgLoading {
    width: 50vw;
}