.divCheckoutContainer {
    margin: 1rem auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mpButton {
    padding: 0 1.7142857142857142em;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 0.875em;
    line-height: 2.7142857142857144;
    background: #d2d2d2;
    border-radius: 0.2857142857142857em;
    color: #fff;
    border: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(223, 221, 221, 0.993);
    height: 12rem;
    width: 80vw;
    color: black;
    font-family: Koulen;
    margin-bottom: .5rem;
    border-radius: 0.3rem;
  }
  
  /* .container:hover {
    transform: translateY(-2px);
    box-shadow: 0px 0px 10px rgba(69, 167, 212, 0.829);
  } */
  
  .h2 {
    margin-left: 0.2rem;
    font-size: 1.5rem;
  }
  
  .img {
    float: left;
    height: 10.8rem;
    width: 10.8rem;
    margin: 1rem;
    background-color: white;
    border: 0.05rem solid rgba(240, 240, 240, 0.993);
  }
  
  .pch {
    /* margin-top: 1.5rem; */
    margin-left: 0.2rem;
    text-decoration: none;
    font-size: 1.3rem;
    /* margin-bottom: 0.01rem; */
    font-family: Koulen;
  }