body {
  background-color: white;
  font-family: Koulen;
}

.divLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.containerp {
  font-family: Koulen;
  margin-bottom: 3rem;
  margin-left: 2rem;
  background-color: white;
}

.innercontainer {
  display: flex;
}

.title {
  font-size: 2rem;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: black;
}

.innercontainer {
  display: flex;
}

.innercontainer2 {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.innercontainer3 {
  display: flex;
  margin-top: 2.5rem;
  align-items: center;
}

.stock {
  position: absolute;
  font-size: 1.5rem;
  margin-left: 26.3rem;
  color: rgb(253, 53, 27);
}

.price {
  font-size: 2rem;
  /* margin-top: 2rem; */
}

.img {
  float: left;
  margin-right: 1rem;
  height: 25rem;
  width: auto;
  border: 0.05rem solid rgba(240, 240, 240, 0.993);
}

.otherimg {
  height: 3.5rem;
  width: auto;
  border: 0.05rem solid rgba(240, 240, 240, 0.993);
}

.otherimg:hover {
  cursor: pointer;
}

.description {
  margin-top: 0;
  margin-bottom: 2rem;
  margin-right: 3rem;
}

.button {
  font-family: Koulen;
  font-size: 0.8rem;
  height: auto;
  width: 5rem;
  border: none;
  color: black;
  background-color: rgb(207, 204, 204);
  justify-content: center;
  cursor: pointer;
}

select {
  margin-left: 1rem;
  overflow: hidden;
  border-radius: 0.2rem;
  height: 1.8rem;
  width: 4rem;
  border: 0.1rem solid rgb(190, 190, 190);
}

.colors {
  margin-top: 2rem;
}

.rating {
  height: 7rem;
  width: auto;
  margin-right: 3rem;
}

.add {
  padding: 0.8rem;
  width: 58%;
  font-size: 1.5rem;
  font-family: Koulen;
  border: none;
  background: linear-gradient(180deg, #79f7ff 0%, #6584d5 66.67%);
  color: white;
  border-radius: 0.3rem;
  margin-left: 3.8rem;
}

.add:hover {
  cursor: pointer;
  background: linear-gradient(180deg, #68e1ec 0%, #6584d5 66.67%);
}

.fav {
  height: 4.2rem;
  margin-left: 1.5rem;
  filter: invert(79%) sepia(21%) saturate(1278%) hue-rotate(161deg)
    brightness(94%) contrast(94%);
}

.fav:hover {
  cursor: pointer;
  filter: invert(42%) sepia(51%) saturate(416%) hue-rotate(147deg)
    brightness(97%) contrast(87%);
}

.subtitles {
  color: black;
  margin-bottom: 1.5rem;
  overflow: hidden;
}

.color1 {
  height: 2rem;
  width: 1rem;
  border-top-left-radius: 100% 50%;
  border-bottom-left-radius: 100% 50%;
  border: 1px solid rgb(124, 124, 124);
  border-right: none;
}

.color2 {
  height: 2rem;
  width: 1rem;
  border-top-right-radius: 100% 50%;
  border-bottom-right-radius: 100% 50%;
  border: 1px solid rgb(124, 124, 124);
  border-left: none;
  margin-right: 0.3rem;
}

.containercolors {
  margin-top: -1rem;
  display: flex;
}

.containerModal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.divModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 5rem;
  width: 20rem;
  height: 23rem;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 0.3rem;
  background-color: #f5f5f5;
}

.buttonCloseModal {
  margin-right: 5px;
  align-items: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  border-radius: 5px;
  width: 2rem;
  height: 2rem;
  background-color: #f5f5f5;
}

.buttonCloseModal:hover {
  cursor: pointer;
  background-color: white;
}

.divStarsContainer {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.divStarsAvg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pStars {
  margin: 0 0 0 0;
}

.starAvg {
  width: 1.4rem;
  margin: 0 0.1rem 0 0.1rem;
}

.divButtonAddReview {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1rem;
  border-top: 1px solid rgba(240, 240, 240, 0.993);
}

.buttonAddReview {
  height: 2.5rem;
  width: 10rem;
  border: none;
  background: linear-gradient(180deg, #79f7ff 0%, #6584d5 66.67%);
  color: white;
  border-radius: 0.3rem;
  margin-top: 1rem;
}

.buttonAddReview:hover {
  cursor: pointer;
  background: linear-gradient(180deg, #68e1ec 0%, #6584d5 66.67%);
}
