.containerp {
  font-family: Koulen;
  margin-bottom: 3rem;
  margin-left: 2rem;
}

.innercontainer {
  display: flex;
}

.title {
  font-size: 2rem;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: black;
}

.innercontainer {
  display: flex;
}

.innercontainer2 {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.innercontainer3 {
  display: flex;
  margin-top: 1rem;
}

.price {
  font-size: 2rem;
  margin-top: 2rem;
}

.img {
  float: left;
  margin-right: 1rem;
  height: 25rem;
  width: auto;
  border: 0.05rem solid rgba(240, 240, 240, 0.993);
}

.description {
  margin-top: 0;
  margin-bottom: 2rem;
  margin-right: 3rem;
}

.button {
  font-family: Koulen;
  font-size: 0.8rem;
  height: auto;
  width: 5rem;
  border: none;
  color: black;
  background-color: rgb(207, 204, 204);
  justify-content: center;
  cursor: pointer;
}

select {
  margin-left: 1rem;
  overflow: hidden;
  border-radius: 0.2rem;
  height: 1.8rem;
  width: 4rem;
  border: 0.1rem solid rgb(190, 190, 190);
}

.colors {
  margin-top: 2rem;
}

.rating {
  height: 7rem;
  width: auto;
  margin-right: 3rem;
}

.add {
  padding: 0.8rem;
  width: 80%;
  font-size: 1.5rem;
  font-family: Koulen;
  border: none;
  background: linear-gradient(180deg, #79f7ff 0%, #6584d5 66.67%);
  color: white;
}

.add:hover {
  cursor: pointer;
}

.fav {
  height: 4.2rem;
  margin-left: 4rem;
}

.fav:hover {
  cursor: pointer;
}

.subtitles {
  color: black;
  margin-bottom: 1.5rem;
  overflow: hidden;
}

.color1 {
  height: 2rem;
  width: 1rem;
  border-top-left-radius: 100% 50%;
  border-bottom-left-radius: 100% 50%;
  border: 1px solid rgb(124, 124, 124);
  border-right: none;
}

.color2 {
  height: 2rem;
  width: 1rem;
  border-top-right-radius: 100% 50%;
  border-bottom-right-radius: 100% 50%;
  border: 1px solid rgb(124, 124, 124);
  border-left: none;
}

.containercolors {
  margin-top: -1rem;
  display: flex;
}
