.containerfav {
  font-family: Koulen;
}

.titulofav {
  text-align: center;
}

.icontainerfav {
  display: flex;
  margin-left: 3rem;
}

@media screen and (max-width: 600px) {
  .icontainerfav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
}
