.container {
  width: 100%;
  height: 20rem;
  position: relative;
  bottom: 0;
  left: 0;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 5px;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: rgb(54, 54, 54);
  color: rgb(145, 143, 143);
  font-size: 0.8rem;
  font-family: Cabin;
}

.innercontainer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  color: rgb(145, 143, 143);
}

.innercontainer2 {
  padding-top: 1rem;
}

.footernav {
  color: rgb(145, 143, 143);
}

h3 {
  margin-bottom: 1rem;
  color: rgb(197, 194, 194);
}

li {
  padding: 0.3rem;
}

.flink {
  color: rgb(145, 143, 143);
}

.icono {
  height: 1rem;
  margin-right: 0.5rem;
  width: auto;
}

.copyright {
  display: flex;
  justify-content: center;
}

.texto {
  max-width: 20rem;
  margin-top: -3.5rem;
}

.footertitles {
  color: rgb(197, 194, 194);
  margin-bottom: 1rem;
}

.bluetitle {
  margin-bottom: 5rem;
  color: rgb(197, 194, 194);
}

.buttonshop {
  background-color: #ffffff;
  border: none;
  width: 6rem;
  height: 1.8rem;
  font-family: Cabin;
  color: #6584d5;
  margin-top: 1rem;
  cursor: pointer;
}

.botClosed{
  position: absolute;
  bottom: 9rem;
  left: 1.5rem;
  /* margin-top: 45vh; */
  visibility: hidden;
}

.botOpen{
  position: fixed;
  /* position: relative; */
  /* margin-top: 15rem; */
  bottom: 9rem;
  left: 2rem;
  z-index: 999;
  visibility: visible;
  transition: ease-in-out 2s;
}

.closeBotHidden{
  display: none;
}

.closeBot{
  position: fixed;
  border: 0.17rem solid white;
  border-radius: 50%;
  bottom: 5rem;
  left: 1rem;
  z-index: 999;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  background-image: url("../image/close.svg");
  background-color: rgb(106, 203, 233);
  background-size: 3rem;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.bubbleClosed{
  display: none;
}

.bubbleOpen{
  position: fixed;
  border: 0.17rem solid white;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  z-index: 999;
  bottom: 5rem;
  left: 1rem;
  cursor: pointer;
  background-image: url("../image/BlueBird.svg");
  background-color: rgb(106, 203, 233);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

@media (max-width: 360px) {
  .innercontainer {
    margin-top: 2rem;
    color: rgb(145, 143, 143);
  }
}
