.container {
  width: 100%;
  height: 20rem;
  position: relative;
  bottom: 0;
  left: 0;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 5px;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: rgb(54, 54, 54);
  color: rgb(145, 143, 143);
  font-size: 0.8rem;
  font-family: Cabin;
}

.innercontainer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  color: rgb(145, 143, 143);
}

.innercontainer2 {
  padding-top: 1rem;
}

.footernav {
  color: rgb(145, 143, 143);
}

h3 {
  margin-bottom: 1rem;
  color: rgb(197, 194, 194);
}

li {
  padding: 0.3rem;
}

.flink {
  color: rgb(145, 143, 143);
}

.icono {
  height: 1rem;
  margin-right: 0.5rem;
  width: auto;
}

.copyright {
  display: flex;
  justify-content: center;
}

.texto {
  max-width: 20rem;
  margin-top: -3.5rem;
}

.footertitles {
  color: rgb(197, 194, 194);
  margin-bottom: 1rem;
}

.bluetitle {
  margin-bottom: 5rem;
  color: rgb(197, 194, 194);
}

.buttonshop {
  background-color: #ffffff;
  border: none;
  width: 6rem;
  height: 1.8rem;
  font-family: Cabin;
  color: #6584d5;
  margin-top: 1rem;
  cursor: pointer;
}

@media (max-width: 600px) {
  .container {
    height: 38rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .innercontainer {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    align-items: center;
  }

  .innercontainer2 {
    margin-top: -2rem;
    padding-bottom: 1.5rem;
    border-bottom: 0.5px solid rgb(197, 194, 194);
  }

  .bluetitle {
    text-align: center;
  }

  .footertitles {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .link {
    display: flex;
    justify-content: center;
  }

  .lista_resp {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    margin-right: 1rem;
    margin-bottom: -1rem;
  }

  .copyright {
    margin-top: 3rem;
  }

  .footernav {
    margin-top: 2rem;
    list-style: none;
    margin-right: 2rem;
  }

  .flink {
    margin-right: 1rem;
  }

  .sociallinks {
    margin-right: 2rem;
    list-style: none;
    margin-top: 2rem;
  }

  .icono {
    margin-left: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
  }
}