.flyer {
  position: relative;
  width: 100%;
  height: 780px;
  margin-left: 0px;
  background: linear-gradient(
      180deg,
      rgba(121, 247, 255, 0.8),
      rgba(35, 91, 233, 0.9)
    ),
    url("../image/runnersportada.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
}

.titlesContainer {
  position: absolute;
  width: 588px;
  height: 356px;
  left: 8%;
  top: 250px;
}

.title {
  font-family: Cabin;
  font-size: 3rem;
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.subtitle {
  font-family: Cabin;
  font-size: 1.7rem;
  color: #000000;
}

.buttonShopNow {
  background-color: #ffffff;
  border: none;
  width: 180px;
  height: 47px;
  left: 120px;
  margin-top: 15px;
  font-family: Cabin;
  color: #6584d5;
}

.buttonShopNow:hover {
  background-color: rgb(75, 74, 74);
  color: white;
}

.divImageFlyer {
  position: absolute;
  width: 348px;
  height: 522px;
  right: 8%;
  top: 160px;
  background: #99a799;
  border: 20px solid #ffffff;
  border-top-left-radius: 5em;
  border-top-right-radius: 5em;
  border-bottom-right-radius: 5em;
  filter: drop-shadow(-2px 4px 15px rgba(255, 255, 255, 0.5));
  overflow: hidden;
}

.imageFlyer {
  position: absolute;
  height: 522px;
  /* border-top-left-radius: 3.5em;
    border-top-right-radius: 3.5em;
    border-bottom-right-radius: 3.5em; */
  /* transform: translatex(-89px); */
  object-fit: contain;
}

.ratedProductsTitle {
  font-family: Cabin;
  font-size: 2.5rem;
  color: #000000;
  margin-top: 1.5rem;
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: white;
}

.galeria {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

figure {
  display: flex;
  overflow-x: auto;

  animation: cambio 20s infinite alternate;
}

.carrouselimg {
  width: 100%;
  object-fit: cover;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }

  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  100% {
    margin-left: -300%;
  }
}

@media screen and (max-width: 950px) {
  .body {
    clear: both;
    margin: 0 auto;
    width: 100%;
  }

  .galeria {
    display: none;
  }

  .flyer {
    width: 100%;
    height: 20rem;
  }

  .ratedProductsTitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .imageFlyer {
    height: 10rem;
  }

  .divImageFlyer {
    position: absolute;
    width: 6rem;
    height: 10rem;
    right: 8%;
    top: 7.5rem;
    background: #99a799;
    border: 10px solid #ffffff;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    filter: drop-shadow(-2px 4px 15px rgba(255, 255, 255, 0.5));
    overflow: hidden;
  }

  .titlesContainer {
    position: absolute;
    width: 12rem;
    height: auto;
    left: 8%;
    top: 7rem;
  }

  .title {
    font-family: Cabin;
    font-size: 1.2rem;
    color: #ffffff;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }

  .subtitleContainer {
    margin-top: 1rem;
  }

  .subtitle {
    font-family: Cabin;
    font-size: 1rem;
    color: #000000;
  }

  .buttonShopNow {
    background-color: #ffffff;
    border: none;
    width: 6rem;
    height: 1.5rem;
    left: 120px;
    margin-top: 0.5rem;
    font-family: Cabin;
    color: #6584d5;
    font-size: 0.8rem;
  }
}