body {
  margin-top: 0;
}

.container {
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  }

.menu {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.divLogo{
  width: 25rem;
  outline: none;
}

.divSearch{
  width: 25rem;
  padding-right: 1.5rem;
  align-items: center;
}

.logo {
  height: 2rem;
  margin-left: 1.5rem;
}

.button {
  display: flex;
  flex-direction: row;
  color: black;
  margin-left: 2rem;
  font-family: Koulen;
  font-size: 1rem;
  border: none;
  text-decoration: none;
  background-color: white;
}

.cart { 
  height: 1.2rem;
  width: auto;
  outline: none;
  margin-left: 2rem;
  margin-right: 1rem;
} 

a {
  text-decoration: none;
  color: black;
}

ul {
  text-decoration: none;
}

.fav{
  height: 22px;
  margin-left: 1rem;
}

.SearchBar {
  margin-right: 0;
}