.divFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.divInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  width: 20rem;
  height: 20rem;
  /* border: 1px solid rgb(211, 212, 213); */
  border-radius: 0.3rem;
  /* background-color: #f5f5f5; */
}

.swal-title {
  margin: 0px;
  font-size: 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  margin-bottom: 28px;
}

.divReviewsHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0 0.5rem 0;
}

.reviewsHeader {
  font-size: 1.5rem;
  font-family: Koulen;
  margin-bottom: 0.1rem;
}

.divStarsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.star {
  width: 1.3rem;
  margin: 0 0.1rem 0 0.1rem;
}

.star:hover {
  cursor: pointer;
  filter: invert(81%) sepia(40%) saturate(6882%) hue-rotate(350deg)
    brightness(96%) contrast(93%);
}

.divStar .inputStar {
  position: absolute;
  opacity: 0;
}

/* .divUsernameReview {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
} */

.divDescriptionReview {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .divDescriptionTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.descriptionTitle {
  font-size: 1.2rem;
  font-family: Koulen;
  margin-bottom: 0rem;
} */

.textareaReview {
  font-family: Koulen;
  width: 244px;
  border: none;
}

.textareaReview::placeholder {
  font-family: Koulen;
  opacity: 0.5;
  font-weight: 400;
}

.divSubmitReview {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 1rem 0;
}

.submitReview {
  font-size: 1.2rem;
  font-family: Koulen;
  margin-bottom: 0rem;
  width: 244px;
  color: #fff;
  background-color: rgb(106, 203, 233);
  border: none;
}

.submitReview:hover {
  cursor: pointer;
  background-color: rgb(80, 189, 223);
}
