.nav {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-family: Koulen;
}

.ul {
  align-items: center;
  justify-content: space-between;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.divButton {
  display: inline;
}

.button {
  font-family: Koulen;
  font-size: 0.8rem;
  height: 1.8rem;
  width: 1.8rem;
  border: none;
  color: black;
  /* background-color: rgb(223, 223, 223); */
  justify-content: center;
  cursor: pointer;
  margin: 0.1rem 0.1rem;
}

.button:hover {
  background-color: rgb(75, 74, 74);
  color: white;
  cursor: pointer;
}

.current {
  font-family: Koulen;
  font-size: 0.8rem;
  height: 1.8rem;
  width: 1.8rem;
  border: 1px solid black;
  color: black;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  cursor: pointer;
  margin: 0.1rem 0.1rem;
}
