/* 
.on {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      color: #000;
    }
    .off {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
    color: #ccc;
  }

  .star {
      color: yellow;
  }  */

