.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  font-size: 1.5rem;
  font-family: Koulen;
}
.color1 {
  width: 20px;
    height: 20px;
    margin: 0px auto;
    border-radius: 50%;
 
    position: relative;
    display: inline-block;
    border: 1px solid rgb(211, 212, 213);
}


.color2 {
  height: 2rem;
  width: 1rem;
  border-top-right-radius: 100% 50%;
  border-bottom-right-radius: 100% 50%;
  border: 1px solid rgb(124, 124, 124);
  border-left: none;
}

.flyer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 120px;
  margin-left: 0px;
  background-color: rgb(106, 203, 233);
}

.titulo {
  font-size: 3.5rem;
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  font-family: Koulen;
}

.body {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.filtersContainer {
  width: 20rem;
}

.divFiltersTitle {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1.5rem;
}

.divButtonClearFilters {
  background-color: #f0f0f0;
  border: 1px solid rgba(240, 240, 240, 0.993);
  border-radius: 0.5rem;
  padding: 0.1rem;
  font-size: 1rem;
  font-family: Koulen;
  color: #000000;
  text-decoration: none;
  /* margin-left: 0.5rem; */
}

.buttonClearFilters {
  background-color: #f0f0f0;
  border: none;
  border-radius: 1rem;
  font-size: 0.9rem;
  font-family: Cabin;
  color: #000000;
  text-decoration: none;
  margin-left: 0.5rem;
}

.buttonClearFilters:hover {
  background-color: #ffffff;
}

.filtersTitle {
  font-size: 1.2rem;
  font-family: Koulen;
  margin-bottom: 0.1rem;
}

.filtersSubtitle {
  font-size: 1.6rem;
  font-family: Koulen;
  margin-bottom: 1rem;
  border-top: 1px solid rgba(240, 240, 240, 0.993);
  padding-top: 0.6rem;
}

.divFiltersBestFor:hover {
  background-color: rgb(250, 250, 250);
}

.divFiltersCategories:hover {
  background-color: rgb(250, 250, 250);
}

.selectCategories {
  font-size: 1rem;
  font-family: Koulen;
  margin-left: 0;
  border: 0.1rem solid rgb(190, 190, 190);
  border-radius: 0.5rem;
}

.selectCategories:hover {
  background-color: rgb(250, 250, 250);
}

.filters {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.radio {
  margin: 0.5rem;
}

.radio .input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radioLabel {
  font-size: 1rem;
}

.radio .input[type="radio"] + .radioLabel:before {
  content: "";
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  position: relative;
  top: -0.2em;
  margin-right: 0.6em;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}

.radio .input[type="radio"]:checked + .radioLabel:before {
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio .input[type="radio"]:focus + .radioLabel:before {
  outline: none;
  border-color: rgb(106, 203, 233);
  border-width: 4px;
}

.radio .input[type="radio"]:disabled + .radioLabel:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}

.radio .input[type="radio"] + .radiLabel:empty:before {
  margin-right: 0;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 85%;
  /* border-left: 0.05rem solid rgba(240, 240, 240, 0.993); */
}
