.containercart {
  font-family: Koulen;
}

.titulofav {
  text-align: center;
  margin-top: 2rem;
}

.icontainercart {
  display: flex;
  flex-wrap: wrap;
  margin-left: 3rem;
  margin-top: 2rem;
}

.pricecart {
  text-align: right;
  margin-right: 3rem;
  color: black;
  font-size: 2rem;
}

.divButtoncart {
  margin: 2rem 3rem;
  text-align: right;
}

.buttoncart {
  background-color: rgb(106, 203, 233);
  border: 0.1rem solid rgb(106, 203, 233);
  color: rgb(255, 255, 255);
  padding: 0.3rem;
  text-align: center;
  text-decoration: none;
  font-family: Koulen;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  width: 12rem;
  height: 2.5rem;
  margin-left: 0.5rem;
}

@media screen and (max-width: 600px) {
  .icontainercart {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
  }

  .pricecart {
    margin-top: 2rem;
    font-size: 1.5rem;
    margin-right: 1.9rem;
  }

  .divButtoncart {
    margin-top: 1rem;
    margin-right: 1.9rem;
  }
}
