.userMasterContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    /* border: 1px solid black; */
}

.userContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    font-family: Koulen;
    font-size: 1rem;
    color: black;
    /* border: 1px solid black; */
}

.userImage {
    width: 150px;
    border-radius: 75px;
    margin: 2rem auto;
}

.userButtons {
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    justify-content: center;
}

button {
    margin: 1rem 1rem 0;
}
